* {
	margin: 0;
	padding: 0;
}
#o-nas {
	position: relative;
	padding-right: 20px;
	padding-left: 10px;
	font-size: 30px;
	bottom: -45px;
	left: 15px;
}
#kw {
	position: relative;
	padding-right: 20px;
	font-size: 30px;
	bottom: -45px;
	left: 15px;
}
#part {
	position: relative;
	padding-right: 20px;
	font-size: 30px;
	bottom: -45px;
	left: 15px;
}
#uch {
	position: relative;
	padding-right: 20px;
	font-size: 30px;
	bottom: -45px;
	left: 15px;
}
#vk {
	position: relative;
	padding-right: 20px;
	font-size: 30px;
	bottom: -45px;
	left: 15px;
}
#sil {
	padding-left: 200px;
}
header {
	background: #191970;
	top: 0px;
	bottom: 0px;
}
a {
	color: #fff;
}
#logoImg {
	position: relative;
	margin: right;
	margin-left:85%;
	width: 170px;
	height: 100px;
	bottom: 20px;
}
body {
	background: #0095ff;
	font-family: "arial";
}
#text {
	text-align: center;
}
#h4 {
	position: relative;
	right: -800px;
	color: #aaa;
	top: 10px;
}
#nehty {
	position: relative;
	right: -450px;
	top: 60px;
}
#footer {
    position: fixed;
    left: 0; bottom: 0;
    padding: 10px;
    background: #4682B4;
    color: #fff; 
    width: 100%; 
    text-align: center;
}
#u {
	position: relative;
}
#str {
	align-text
}
#TFG {
	position: relative;
	left: 200px;
	top: 4px;
}
#kz {
	position: relative;
	left: 600px;
	bottom: 99px;
}
#red {
	position: relative;
	left: 850px;
	bottom: 200px;
}
#yen {
	position: relative;
	left: 300px;
	bottom: 170px;
}
#ig {
	position: relative;
	left: 510px;
	bottom: 270px;
}
#Uch_ {
	position: relative;
	left: 600px;
}
#inf_ {
	position: relative;
	left: 450px;
}